.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.heroTitle {
  font-size: 2rem;
  font-weight: 500;
}

/* Tablets (768px and below) */
@media (max-width: 768px) {
  .hero {
    gap: 1rem;
    padding: 0.5rem;
  }

  .heroTitle {
    font-size: 1.5rem;
  }
}

/* Mobile phones (480px and below) */
@media (max-width: 480px) {
  .hero {
    gap: 0.5rem;
    padding: 0.25rem;
  }

  .heroTitle {
    font-size: 1.2rem;
  }

  .heroLogo img {
    max-width: 75px;
  }
}

/* Mobile phones (376px and below) */
@media (max-width: 376px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.25rem;
  }

  .heroLogo {
    display: none;
  }
}
