.heroAuth {
  display: flex;
  gap: 0.75rem;
  font-size: 1rem;
}

.heroBtn {
  padding: 0.5rem;
  background-color: var(--color-sec);
  color: var(--color-sec-con);
  border: none;
  border-radius: var(--main-br);
  font-weight: 600;
  cursor: pointer;
}

.heroBtn:hover {
  background-color: var(--color-sc);
  color: var(--color-sc-con);
}
