.footer {
  background-color: #8c0327;
  color: #edd0d0;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--main-pd);
  width: 100%;
  position: relative;
}

.footer > div:first-child {
  flex: 1;
  text-align: center;
}

.emailWrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  transition: scale ease 0.3s;
}

.emailWrapper:hover {
  scale: 1.05;
}

.email {
  color: #edd0d0;
}
