:root {
  --main-theme: #dbdbdb;
  --bg-color-in: #f1f1f1;
  --color-font: #141414;
  --color-sec: #826a5c;
  --color-sec-con: #e5e0dd;
  --color-sc: #499380;
  --color-sc-con: #020806;

  --color-secondary: #d85251;
  --color-secondary-content: #110202;

  --color-info: #44adbb;
  --color-info-content: #020b0d;

  --color-warning: #e97f16;
  --color-warning-content: #130600;
  --color-error: #d40014;
  --color-error-content: #ffd4d1;
  --main-size: 1rem;
  --main-pd: 0.5rem;
  --seconary-pd: 1rem;
  --main-mg: 1rem;
  --secondary-mg: 0.5rem;
  --main-br: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-family: sans-serif;
}

body {
  background-color: var(--main-theme);
  color: var(--color-font);
}

#root {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.container {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
