.albums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albumTitle {
  font-size: 1.75rem;
}

.albumCover {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: var(--main-br);
}

.albumTracklistTitle {
  text-align: center;
  font-size: 18px;
}

.albumTracklistList {
  list-style: none;
  padding-left: 0;
}

.trackSummary {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-left: 24px;
}

.trackSummary .open {
  display: none;
}

details[open] .trackSummary .close {
  display: none;
}

details[open] .trackSummary .open {
  display: inline-block;
}

.trackSummary::before {
  position: absolute;
  left: 0;
  top: 50%;
}

.trackLyrics {
  white-space: pre-wrap;
  padding: 16px;
  font-style: italic;
  background: var(--bg-color-in);
}

details .trackLyrics {
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

details[open] .trackLyrics {
  opacity: 1;
  transform: translateY(0);
}

/*(1199 and below*/
@media (max-width: 1199px) {
  .albumCover {
    width: 20rem;
    height: 20rem;
  }

  .albumTitle {
    font-size: 1.5rem;
  }
}

/* Tablets (768px and below) */
@media (max-width: 768px) {
  .albums {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem;
  }

  .albumTitle {
    font-size: 1.5rem;
  }

  .albumCover {
    width: 15rem;
    height: 15rem;
  }

  .trackSummary {
    font-size: 12.5px;
  }
}

/* Mobile phones (480px and below) */
@media (max-width: 480px) {
  .albums {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .albumTitle {
    font-size: 1.2rem;
  }

  .albumCover {
    width: 12rem;
    height: 12rem;
  }

  .trackSummary {
    font-size: 0.9rem;
  }

  .albumTracklistTitle {
    font-size: 16px;
  }

  .trackLyrics {
    padding: 12px;
    font-size: 0.9rem;
  }
}

/* 321px and below */
@media (max-width: 321px) {
  .trackSummary {
    font-size: 0.75rem;
  }
}
